/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .uk-card-body {
        padding: 1.5rem 1rem;
    }

}


.uk-card {
    .uk-card-title {
        font-size: 1rem!important;
        margin-top: 1.5rem;
    }
}