ul li{
    list-style: none;
}

header, section {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    color: $primary;
    &:hover {
        color: $secondary;
        text-decoration: none;
    }
}

p {
    color: $primary;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif!important;
}

.uk-navbar-toggle{
    &:hover {
        color: $navbar-toggle-color!important;
    }
}

.blog-content{
    h2, h3, h4 {
        padding: 0.25em 0.5em;/*上下 左右の余白*/
        background: transparent;/*背景透明に*/
        border-left: solid 5px $primary;/*左線*/
    }
}

.relative {
    position: relative;
}

.abs {
    position: absolute;
}

.primary {
    color: $primary;
}

.background-primary {
    background-color: $primary;
}

.uk-label {
    padding: .5rem 1rem;
    color: #000000;
    font-weight: bold;
}

.uk-text-lead {
    font-weight: bold!important;
    font-size: 2rem;
}

// .uk-height-large {
//     height: 550px;
// }

img .avater {
    border-radius: 50%;
}

.ruby-under {
    display: inline-block;
    ruby {
        display: flex;
        flex-direction: column;
        rt {
            text-align: center;
        }
    }
}

.message {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid  rgba(255,255,255,0.8);
    &__box {
        margin: .5rem;
        padding: 2rem 3rem;
        @include media-sp {
            padding: 1rem;
        }
        text-align: center;
        background-color: rgba(255,255,255,0.8);
        p {
            color: #000000;
            font-size: 1.2rem;
            font-weight: bold;
            @include media-sp {
                width: 270px;
            }
        }
    }
}

.page-title {
    h1 {
        font-size: 3.5rem;
        border-bottom: 1px solid #000000;
        @include media-sp {
            font-size: 2rem;
        }
        span {
            margin-left: 2rem;
            font-size: 2rem;
            @include media-sp {
                font-size: 1rem;
            }
        }
    }
}

.pagenavi {
    margin-top: 5rem;
    .wp-pagenavi {
        clear: both;
        text-align:center;
    }
    .wp-pagenavi a, .wp-pagenavi span {
        color: $primary;
        background-color: #FFF;
        border: solid 1px $dark;
        padding: 8px 15px;
        margin: 0 2px;
        white-space: nowrap;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        text-align: center;
        text-decoration:none;
    }
    .wp-pagenavi a:hover{
        color:$primary; 
        background-color:$dark; 
        border-color:$dark;
        }
    .wp-pagenavi span.current{
        color: $primary;
        background-color: $dark;
        border-color: $dark;
        font-weight: bold;
        }
}