.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.uk-navbar-nav {
    .uk-logo {
        width: 90px;
    }
    li {
        a {
            color: #000000;
            font-weight: bold;
            font-size: 1.3rem;
        }
        ruby {
            rt {
                font-weight: normal;
            }
        }
    }
    .nav-item {
        a {
            font-weight: normal;
        }
    }
    .uk-navbar-dropdown-nav {
        li {
            a {
                font-size: 1rem;
            }
        }
    }
}

.uk-navbar-dropdown {
    padding: 1rem;
}